################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/iBlogHub/v16
/.vs/iBlogHub
/iBlogHub/bin/Debug/netcoreapp3.0
