@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    ViewBag.ShowMessage = false;
}


@section Styles {
    <style type="text/css">
        .jumbotron {
            background-size: cover;
            padding: 7rem 0rem;
        }
    </style>
}

<div class="container">
    <div class="page-content">
        <div class="row">

            <div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem col-md-12 bg-lightblue position-relative">
                <div class="col-md-12 pr-0 h-100 tofront">
                    <div class="row justify-content-between">
                        <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url('/images/subsImg.jpg');">
                        </div>
                        <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">

                            <div class="col-sm-11 col-sm-offset-1">
                                <partial name="_StatusMessage" model="Model.StatusMessage" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
                $(function () {
                    $(".validation-summary-errors").find("ul").addClass("list-group");

                    $(".validation-summary-errors").find("li").addClass("list-group-item list-group-item-danger");

                });
    </script>
}